<footer>
    <p>
      <a itemprop="github" href="https://github.com/{{ site.github_username }}" title="Github">
        <svg><use xlink:href="#icon-github"></use></svg>
      </a>
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
        <svg><use xlink:href="#icon-twitter"></use></svg>
      </a>
      <a itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
    </p>
    <p><span>This site</span> was edited with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href="https://www.facebook.com/nadun.yashmika.9" target="_blank" class="creator">yashNadun</a></p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
